body {
	font-size: 125%;
	width: 100%;
	/*margin-top: 2%;*/
	height: auto;
	top: 0;
	left: 0;
	background-size: 90%;
	height: auto;
}
html { 
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #2ecc71;
}

p{
	font-family: helvetica;
}

#next{
	float:right;
	margin:1%;
	position: relative;
}

#prev{
	float:left;
	margin: 1%;
	position: relative;

}

#audioIcon{
	width: 10%;
	height: 10%;
}



#content{
	background-color: #ecf0f1;
	margin:0em auto;
	margin-top: 5%;
	width: 75%;
	height: 25%;
	text-align: center;
	padding: 1%;
	border: 8px solid #828d8f;
}


.imageBorder{
	min-height: 400px;
	max-height: 400px;
	position: static;
	
}

#audioIcon:hover,#next:hover,#prev:hover{
	opacity: 0.7;
}

.desc {
	font-size: 1.2em;
	margin: 0em auto;
	max-width: 500em;
	max-height: 2em;
}
