body{
	font-size: 100%;
	width: 100%;
	/*margin-top: 2%;*/
	height: 100%;
}

.matching_area{
	clear: both;
	margin: 5% 5%;
	height: 100%;
	width: 90%;

}

.title{
	margin: 0% auto;
}
			
#box_input{
	padding-top: 5%;
	margin: 5% auto;
	height: 8%;
	background-color: white;
	border: solid;
}

.image_border{
	border: solid;
	width: 54%;
	height: 350px;
	margin: 0% auto;
	
}


#image{
	height: 100%;
	width: 100%;
	
}

.left{
	background-color: blue;
	float:left;
	width: 50%;
	height: 100%;
	border: solid;
}

.right{
	background-color: red;
	float:right;
	width: 40%;
	height: 100%;
	border: solid;
}

.correct{
	background-color: green;
	float:left;
	width: 50%;
	height: 100%;
	border: solid;

}

.incorrect{
	background-color: red;
	float:left;
	width: 50%;
	height: 100%;
	border: solid;
}

h1{
	background-color: white;
	font-family: verdana;
	font-size: 135%;
	border: solid;
	text-align: center;
	padding: 2% 0%;
	
}

h2{
	height: 10%;
	width: 90%;
	background-color: white;
	font-family: verdana;
	font-size: 150%;
	border: solid;
	text-align: center;
	margin: 5% auto;

}

h2:hover{
	background-color: gray;
	opacity: 25%;
}

#timer{
	background-color: yellow;
	font-family: monospace;
	text-align: center;
	margin: 0em auto;
	font-size: 10em;
	height: 60%;
	width: 100%;
}

#choices{
	height: 50%;
	width: 100%;
	
}