.container-fluid { 
  background: url("../images/8bitseattle.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.buttons{
  margin:0em auto;
  width: 15%;
}

.buttons:hover{
    opacity: 0.7;
}

div#memory_board{
  
  background:#ccc;
  border: #999 1px solid;
  width: 680px;
  height: 680px;
  padding:24px;
  margin: 80px auto;
}

div#memory_board > div {
  
  background-size: 200px 200px;
  border:#000;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px;
  padding: 20px;
  cursor:pointer;
  text-align: center;
}

.clickableTIle{
  background: url("../images/memoryGameCard.png") no-repeat;
}

.menu{
  width: 100%;
}

#left{
  float:left;
}

#right{
  float:right;
}
img{
  height: 100%;
  width: 100%;
}

footer{
  padding-bottom: 6%;
  background-color: #c3c2c2;
}
#center{
  background-color: #c3c2c2;
  background-size: 200px 200px;
  border:#c3c2c2;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px;
  padding: 20px;
  cursor:pointer;
  text-align: center;
  
}
.correct{
  background-color: green;
}